<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Umashankar_Karthik_40_Project02.My.MySettings._0000_DUPAGEConnectionString"
            connectionString="Data Source=184.168.47.21;Initial Catalog=0000_DUPAGE;User ID=dupage;Password=dotnet4ever;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>